.login {
    height: 100vh;
    background-color: #0D0745;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 100%;
    max-width: 450px;
    background: #5E72EB;
    border-radius: 4px;
    padding: 40px;
    text-align: center;
}

.login-logo {
    width: 220px;
    margin-bottom: 5px;
}

.login-form input {
    width: 100%;
    height: 50px;
    background: white;
    color: black;
    margin: 12px 0;
    border: 0;
    outline: 0;
    border-radius: 4px;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 500;
}

.login-form input::placeholder {
    font-size: 16px;
    font-weight: 500;
}

.login-form button {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 16px;
    background: #0D0745;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    cursor: pointer;
}

.form-switch {
    margin-top: 20px;
    color: #fff;
    text-align: center;
}

.form-switch span {
    margin-left: 6px;
    color: #0D0745;
    font-weight: 500;
    cursor: pointer;
}
/* Add this to your Login.css */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
